{% extends './base.html' %}


{% block title%}Mensaje{% endblock %}

{% block body %}
<link rel="stylesheet" href="/static/css/mensaje.css">
<div class="container">
    <h2>Si desea enviar un mensaje al programador</h2>
    <form action="/mensaje" method="post"> <!-- Agregado el elemento form y el atributo method="post" -->
        <div class="mb-3">
            <div class="input-group">
                <input type="text" name="mensaje" id="mensaje" class="form-control" placeholder="Ingrese el mensaje" aria-label="Mensaje" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-dark" id="button-addon2">Enviar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}